<link rel="stylesheet" href="../public/index.css"/>
<div class="body-body">

   <div class="top-body-1">

   
<div class="title">
     <p> EDIT USERS </p>
</div>

<!-- <div class="searchplus">

    <input type="text" placeholder="search">

    <svg  class="search-vg"   xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>

</div> -->

</div>





<div class="container-form">


  <form action="/edit-user/{{edit._id}}?_method=PUT"  enctype="multipart/form-data" method="post" >
  
    
    <div class="row">
        <div class="col-25">
     <label  for="">input main image</label>
     <input type="file" value="{{edit.filename}}" name="files"/>
    </div>
    </div>
      <div class="row">
        <div class="col-25">
     <label  for="">input secondary image</label>
     <input type="file" name="files"/>
    </div>
    </div>
   
    <div class="row">
      <input type="submit" value="Submit"/>
    </div>

  </form>

<style>

    /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    box-sizing: border-box;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  form{
   width:100%;
   height: 100%;
   font-size: large;
  }
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
   /* Floating column for labels: 25% width */
   .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.container{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 870px;
}
.side-bar{
    
   
    width: 20%;
    min-height: 500px;
    background-color: white;
}
.body-body{
        
   
    width: 80%;
    background-color: #f2f2f2;
    min-height: 500px;
    display: flex;
    flex-direction: column;
} 
.top-body-1{
    background: linear-gradient(to right, rgb(80, 80, 191),  rgb(85, 85, 152));
    width: 100%;
    height: 17%;
    display: flex;
    align-items: flex-start;
    color: white;
    font-size: x-large;
    padding-left: 25px;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

</style>


</div>
</div>
</body>
</html>




