


{{#if check}}
<link rel="stylesheet" href="popupS.css"/>
<script src="popupS.js"></script>
<script>
    
    popupS.alert({
        content:{
          css: {width: "100%",height:"50%",position:"relative",bottom:"100%",color:"green"},
       html: "<h1>Incorrect Password</h1>" }
      })
</script>
{{/if}}

{{#if check2}}
<link rel="stylesheet" href="popupS.css"/>
<script src="popupS.js"></script>
<script>
    
    popupS.alert({
        content:{
          css: {width: "100%",height:"50%",position:"relative",bottom:"100%",color:"green"},
       html: "<h1>Incorrect Email</h1>" }
      })
</script>
{{/if}}


<div class="body-body">

   <div class="top-body-1">

   
<div class="title">
     <p> Sign In </p>
</div>

<!-- <div class="searchplus">

    <input type="text" placeholder="search">

    <svg  class="search-vg"   xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>

</div> -->

</div>


<div class="container-form">


  <form action="/login-check"  enctype="application/json" method="post">
    
   
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-25">
        <input type="text" id="email" name="email" placeholder="please input your email ">
      </div>
    </div>
  

 
    
    
      <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-25">
        <input type="password" id="password" name="password" placeholder="please input your password ">
      </div>
    </div>


  
   <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>

</div>
 <h2>If you don't have an account <a class="sign" style="color: grey; " href="/register">Sign Up</a></h2>
</div>




