




{{#if username}}
<link rel="stylesheet" href="popupS.css"/>
<script src="popupS.js"></script>
<script>
    
    popupS.alert({
        content:{
          css: {width: "100%",height:"50%",position:"relative",bottom:"100%",color:"green"},
       html: "<h1>username already exists</h1>" }
      })
</script>
{{/if}}

{{#if email}}
<link rel="stylesheet" href="popupS.css"/>
<script src="popupS.js"></script>
<script>
    
    popupS.alert({
        content:{
          css: {width: "100%",height:"50%",position:"relative",bottom:"100%",color:"green"},
       html: "<h1>email already exists</h1>" }
      })
</script>
{{/if}}


<div class="body-body">

   <div class="top-body-1">

   
<div class="title">
     <p> Sign Up</p>
</div>



</div>


<div class="container-form">
 <form action="/register-user" method="post">

   <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      
      <div class="col-25">
        <input type="text"  id="username" name="username" placeholder="your username">
      </div>
    </div>
    
  <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-25">
        <input type="password" id="password" name="password" placeholder="please input your password ">
      </div>
    </div>
    
  <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-25">
        <input type="email" id="email" name="email" placeholder="please input your email ">
      </div>
    </div>
  
       <div class="row">
      <div class="col-25">
        <label for="gender">Gender</label>
      </div>
      <div class="col-25">
        <select id="gender" name="gender">
          <option name="male" value="male">Male</option>
          <option name="i think trans" value="trans">Does not wish to say</option>
          <option name="female"  value="female">Female</option>
        </select>
      </div>
    </div>
              
           <div class="row">
      <input type="submit" value="Submit"/>
    </div>
 
  </form>
    </div>
 

  
 <h2>If you have an account <a class="sign" style="color: grey; " href="/login">Sign In</a></h2>


</div>
</div>
</body>
</html>


