* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

/* .container {
    display: flex;
    min-height: 870px;
} */

.side-bar {
  width: 20%;
  background-color: black;
  min-height: 500px;
  background-color: white;
}

.logo {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.logo-text {
  color: rgb(80, 80, 191);
}

.body-body {
  width: 80%;
  background-color: black;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.top-body {
  background: linear-gradient(to right, rgb(80, 80, 191), rgb(85, 85, 152));
  width: 100%;
  height: 37%;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  color: white;
  font-size: x-large;
  padding-left: 25px;
}

.top-body-1 {
  background: linear-gradient(to right, rgb(80, 80, 191), rgb(85, 85, 152));
  width: 100%;
  height: 17%;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  color: white;
  font-size: x-large;
  padding-left: 25px;
}

/* .top-body input {
    margin-top: 30px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 40px;
    width: 260px;
    outline-style: none;
    border-radius: 10px;
    color: white;
    padding-left: 15px;

} */

/* .top-body input::placeholder {
    color: white;
    font-size: larger;
} */

/* .search-vg {
    position: relative;
    right: 35px;
    top: 7px;
    width: ;
} */

.inside-body {
  height: 63%;
  width: 100%;
  background-color: rgb(237, 237, 245);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  row-gap: -4%;
  padding-bottom: 75px;
}

.inside-body-1 {
  height: 83%;
  width: 100%;
  background-color: rgb(237, 237, 245);
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* column-gap: 2%;
    row-gap: -4%; */
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 35%;
  background-color: white;
  border-style: none;
  box-shadow: 3px 3px 5px rgb(223, 223, 223);
  height: 195px;
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.menu-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mit {
  /* background-color: pink; */
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.mit:hover {
  /* background-color: rgb(244, 244, 244) ; */
  border-left: solid 4px rgb(80, 80, 191);
}

.inner-box-text {
  width: 55%;
  text-align: center;
  color: rgb(80, 80, 191);
}
.inner-box-text h2 {
  color: black;
}

.icon-div {
  width: 20%;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(223, 223, 223);
}

.icon-2 {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 255, 0.673);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(223, 223, 223);
}

.icon-3 {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 0, 128, 0.755);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(223, 223, 223);
}

.icon-4 {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.646);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(223, 223, 223);
}

.title {
  width: 70%;
}

.searchplus {
  display: flex;
  width: 50%;
  height: 25%;
  position: relative;
  top: 50%;
  right: 50%;
  background-color: white;
}

.searchplus button {
  top: 5%;
  position: absolute;
  left: 80%;
  width: 20%;
  background-color: black;
}
*/ table {
  width: 75%;
  border-collapse: collapse;
}

table thead {
  background-color: rgb(85, 85, 152);
  color: white;
  height: 50px;
}

table tbody tr {
  height: 50px;
  /* border-bottom: solid 1px black; */
}

tr:nth-child(even) {
  background-color: rgb(213, 213, 244);
}

.table-div {
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  font-size: larger;
}

.inner-form-div {
  /* background-color: red; */
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 100%;
}

/* .inner-form-div label {
    width: 35%;
} */

/* form input {
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: purple;
    border-width: 1px;
    height: 40px;
    width: 100%;
    outline-style: none;
    color: black;
    padding-left: 15px;
    font-size: large;
} */

.add-new-button {
  width: 100%;
  background-color: black;
  height: 50px;
  margin-top: 25px;
  color: white;
  font-size: large;
  border-style: none;
}

select {
  background-color: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: purple;
  border-width: 1px;
  height: 40px;
  width: 100%;
  outline-style: none;
  color: black;
  padding-left: 15px;
  font-size: large;
}
